.admin-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.admin-container > * {
  min-width: 0;
  overflow-y: auto;
  height: 100%;
}

.search-input {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}


@media (max-width: 768px) {
  .admin-container {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .admin-container > * {
    flex: 1 1 100%;
    max-width: 100%;
    height: auto;
    min-height: 50vh;
  }
}

.admin-container > *:nth-child(n+4) {
  flex-basis: 100%;
  max-width: 100%;
  max-height: 50vh; /* Altura personalizada para linhas extras */
}